/Semesterprojekt-2/nbproject/private/
/Semesterprojekt-2/build/
/Sensum Udred/nbproject/private/
/Sensum Udred/dist/
/Sensum Udred/build/
/SensumUdred/build/
/SensumUdred/dist/
/SensumUdred/nbproject/private/
SensumUdred/users.dat
SensumUdred/awoo.dat
SensumUdred/src/business/User.java
SensumUdred/src/business/User.java
